body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #414245;
}
.canvas {
  position: fixed;
  height: 70vh;
  width: 100%;
}
.tray {
  position: fixed;
  top: 70vh;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}
.card {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
}
.card .card-title {
  font-weight: bold;
  height: 30px;
  display: block;
  margin: 10px 10px 0 10px;
  padding: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .card-cost {
  margin: 0 10px 10px 10px;
}
.card .card-image {
  height: 160px;
  width: 100%;
  background-size: cover;
}
.card .card-description {
  margin: 10px;
}
.card.description-size-small .card-description {
  font-size: 12px;
}

.hand {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.hand .card {
  cursor: pointer;
  margin-left: -20px;
  transition: transform 250ms;
}
.hand .card:first-of-type {
  margin-left: 0;
}
.hand .card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.75) rotate(0) translateY(-70px) !important;
  z-index: 1; 
}

.stats {
  margin-left: 70px;
}

.badge {
  border-radius: 6px;
  font-size: 10px;
  display: inline-block;
  padding: 4px;
}
.badge.ap {
  background-color: darkblue;
  color: #fff;
}
.badge.money {
  background-color: gold;
  color: #000;
}
.badge.residentialApplications {
  background-color: green;
  color: #fff;
}
.badge.commercialApplications {
  background-color: blue;
  color: #fff;
}
.badge.industrialApplications {
  background-color: yellow;
  color: #000;
}
.badge.ap::before {
  content: 'AP ';
}
.badge.badge.money::before {
  content: 'GP ';
}
.badge.residentialApplications::before {
  content: 'Res ';
}
.badge.commercialApplications::before {
  content: 'Com ';
}
.badge.industrialApplications::before {
  content: 'Ind ';
}

.controls {
  position: relative;
  width: 175px;
  margin-right: 70px;
}
.controls .button {
  width: 45px;
  height: 45px;
}
.controls .zoomOutButton {
  position: absolute;
  left: 10px;
  top: 10px;
}
.controls .zoomInButton {
  position: absolute;
  left: 110px;
  top: 10px;
}
.controls .moveUpButton {
  position: absolute;
  left: 60px;
  top: 10px;
}
.controls .moveLeftButton {
  position: absolute;
  left: 10px;
  top: 60px;
}
.controls .moveRightButton {
  position: absolute;
  left: 110px;
  top: 60px;
}
.controls .moveDownButton {
  position: absolute;
  left: 60px;
  top: 110px;
}
.controls .endTurnButton {
  position: absolute;
  left: 10px;
  top: 170px;
  width: 145px;
  height: 45px;
}

.splash {
  background-color: #fff;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.splash button {
  margin: 0 auto;
  padding: 20px;
  font-size: 30px;
  width: 200px;
  display: block;
  cursor: pointer;
}