body {
  font-family:Arial, Helvetica, sans-serif;
}
.map {
  border-collapse: collapse;
}
.map .cell {
  font-size: 6px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  background-size: cover;
}
.map.zoom-level-4 .cell {
  width: 128px;
  height: 128px;
}
.map.zoom-level-8 .cell {
  width: 64px;
  height: 64px;
}
.map.zoom-level-16 .cell {
  width: 32px;
  height: 32px;
}
.map.zoom-level-32 .cell {
  width: 16px;
  height: 16px;
}
.map.zoom-level-64 .cell {
  width: 8px;
  height: 8px;
}
.map .cell:hover {
  outline: 1px solid black;
}
.map .cell-freeway-cooridor {
  background-image: url('/img/freeway-corridor.png');
}
.map .cell-service-road {
  background-color: lightskyblue;
}
.map .cell-residential {
  background-color: green;
}
.map .cell-factory {
  background-color: yellow;
}
.map .cell-commercial {
  background-color: blue;
}
.map .cell-empty {
  background-image: url('/img/empty.png');
}
.map .cell-city-hall {
  background-color: red;
}
.map .cell-arterial {
  background-color: gray;
}
.tile-bank {
  margin-bottom: 20px;
}
.tile-bank .tile-bank-entry {
  cursor: pointer;
}
.tile-bank .tile-bank-entry:hover {
  outline: 1px solid black;
}